@charset "utf-8";

html{font-size: 20px;}
body{font-size: 1rem;}
.border{border-bottom: .466rem solid #e8ebee;}

header{background: #5f98fc; padding: 0 .666rem}
.headerTop{display: flex; justify-content: space-between; padding:.833rem 0}
h1 a{display: block; background: url(../images/h1_logo.png) no-repeat 0 0/100%; width: 5.05rem; height:.766rem }
.info{display: flex;}
.info .mypage{width: 1.233rem; height: 1rem; display: block; background: url(../images/ico_mypage.png) no-repeat center center/80%; margin-right: .666rem; }
.info .menu{width: 1.233rem; height: 1rem; display: block; background: url(../images/ico_menu.png) no-repeat center center/80%;}

.search{display: flex;}
.search input{height: 2rem; border:none}
.search button{height: 2rem; width: 2rem; background:#fff url(../images/ico_search.png) no-repeat center/ .916rem auto;}
nav{padding:0.7333rem 0;}
nav ul{display: flex; justify-content: space-around;}
nav ul li{text-align: center;}
nav ul li a{font-size: .7333rem; color: #fff; position: relative;}
nav ul li:hover a{color:#fefa71 }
nav ul li a:after{
    content: "";
    width:0;
    height:2px;
    position: absolute;
    left: 50%;
    bottom:-16px; 
    background: #fefa71;
    transition: .3s;
}
nav ul li:hover a:after{
    width: 100%;
    left:0
}
main{background: #fff;}
main .banner{height: 7.7rem; background: url(../images/bg_visual.png) no-repeat center/100% auto; position: relative;}
main .banner .info{color: #fff; text-align: center;}
main .banner .more{position: absolute; width:2.7rem; height: 1.2rem;  line-height: 1.2rem;padding: 5px 10px; background: rgba(0,0,0,.5); right: 0; bottom:0; font-size: .4333rem; color: #fff }
main .banner .more:after{
    display:inline-block;
    content:"";
    width: .25rem;
    height: .4333rem;
    background: url(../images/bu_arrow_right.png) no-repeat center/0.25rem auto;
    padding-left: 8px;
}
main .banner .info>div{ margin:1.4166rem auto 0  auto;}
main .banner .info >div em{font-size: .7rem; border-bottom: 1px solid #fff;}
main .banner .info >div p{font-size: 1rem; margin-bottom: 10px;}
main .banner .info >div div{font-size: .7rem;}
main .banner .info >div div span{padding: 0 5px; position: relative;}
main .banner .info >div div span:not(:last-child):after{
    content:"";
    width: 1px;
    height: 10px;
    background: #7d7b78;
    position: absolute;
    top: 5px;
    right:-3px
}